/* The Basics
================================================== */

html, body {
    background-color: #eee;
    color: #111;
    padding: 0 0 20px 0;
    background-image: url('../img/bg_tile.gif');
}

#wrapper {
    width: 940px;
    margin: 20px auto 0 auto;
}

h1 {
    border-bottom: 1px solid #ccc;
}

h1 small {
    font-weight: bold;
    color: #999;
    margin-left: 0.5em;
}



/* Main Navigation
================================================== */

.topbar-wrapper {
    width:    940px;
    position: relative;    
    height:   40px;
    margin:   0 0 20px 0;
}

.topbar-wrapper .topbar {
    position: absolute;
    margin:   0 -20px;
}

.topbar-inner {
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;
}

.topbar-inner input {
    width: 205px;
}

.menu-selected {
    float: right;
}



/* Filter by Name bar
================================================== */

.form-stacked {
    padding-left: 0;
}

select {
    margin: 8px 0 0 0;
    width: 224px;
    height: 152px !important;
}

.chzn-container-multi .chzn-choices {
    margin: 8px 0 0 0;
    padding: 4px 4px 2px 2px !important;
    background-image: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}



/* Main chatlog list styles
================================================== */

ol {
    width: 690px;
    float: left;
    list-style: none;
    margin: 0 0 38px 0;
    padding: 3px 0 3px 0;
    background-color:  #333;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #333, #222);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;            
}

ol li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    clear: both;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

ol li:last-child {
    border-bottom: none;
}

time, cite, li p {
    width: 60px;
    margin-right: 10px;
    float: left;
}

time {
    color:   #666;
}

cite {
    width: 80px;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
}

li p    {
    width:   500px;
    margin:  0;
    padding: 0;
    color:   #ddd;
}


/* Chatlog supplementary styles
================================================== */

li.emote cite,
li.emote .message {
    font-style: italic;
}

li.emote cite {
    text-align: right;
}






/* Chatlog username colors
================================================== */

.aja      { color: hsla(0, 80%, 65%, 1); }
.irfan    { color: hsla(30, 80%, 65%, 1); }
.bigpresh { color: hsla(60, 80%, 65%, 1); }
.adnan    { color: hsla(90, 80%, 65%, 1); }
.sam      { color: hsla(120, 80%, 65%, 1); }
.bazza    { color: hsla(150, 80%, 65%, 1); }
.ned      { color: hsla(180, 80%, 65%, 1); }
.lisa     { color: hsla(210, 80%, 65%, 1); }
.jim      { color: hsla(240, 80%, 65%, 1); }
.ross     { color: hsla(270, 80%, 65%, 1); }


/* Misc Utils (clearfix)
================================================== */



.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after { clear:both; }
.clearfix       { zoom:1; }

.clearfix li:before,
.clearfix li:after {
    content:"";
    display:table;
}
.clearfix li:after { clear:both; }
.clearfix li       { zoom:1; }


ol:before,
ol:after {
    content:"";
    display:table;
}
ol:after { clear:both; }
ol       { zoom:1; }

ol li:before,
ol li:after {
    content:"";
    display:table;
}
ol li:after { clear:both; }
ol li       { zoom:1; }










/* Date Picker
================================================== */

h1 {
    width: 690px;
    float: left;
}

.sidebar {
    float: right;
    margin: 8px 0 0 0;
    width: 224px;
}

.datepicker {
    width: 224px;
}

.datepicker th,
.datepicker td {
    padding: 4px 0 4px 0;
    height: 19px;
    text-align: center;
    border-top-color: #ccc;
    width: 32px;
    font-size: 12px;
}


.datepicker a {
    display: block;
    margin: 0 auto 0 auto;
    width: 28px;
    cursor: pointer;
}


.datepicker .other-month a {
    color: #999;
}


.datepicker a.current {
    text-decoration: none;
    font-weight: bold;
    color: #f00;
}


#prev-month,
#next-month {
    font-weight: bold;
    display: inline;
}

#prev-month:hover,
#next-month:hover {
    text-decoration: none;
}



